* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}
img {
  width: 60%;
}
